.bg-mondark {
    background: #e0c0e9;
}
.page-header-headings h1 {
    font-size: 2.34375rem;
    font-family: systemui;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(148, 93, 156, 0.4);
}
