
#region-main {
    border: none;
}

// course datetime btn
.serverdatetime {
    margin: 0;
}

// search-incourse
.search-incourse {
    margin: 0;
    padding: 2.5rem 0;
}
.search-incourse input {
    max-width: 225px;
}
